node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.env.local
.env.production.local
.env.development.local
coverage
.nyc_output
.cache
.parcel-cache
.next
.nuxt
.vuepress/dist
.serverless
.fusebox/
.dynamodb/
.tern-port
dist
build